redis:
        host: localhost
        port: 6379
        password: ""
        namespace: com.aba-eve
        description: Server Admins
        admins:
                - 111111
                - 222222
consul:
        host: localhost
        port: 8500
        config:
                namespace: chremoas-default
                file: chremoas-config.yaml
        credentials:
                username: ""
                password: ""
